{% extends '::frontend.html.twig' %}

{% block title %}Se ha producido un error{% endblock %}
{% block id 'error' %}

{% block article %}
    {% if exception.message %}
        <h1>{{ exception.message }}</h1>
    {% else %}
        <h1>No se ha encontrado la página solicitada <span>(error 404)</span></h1>
    {% endif %}

    <p>La mayoría de errores son temporales, provocados por pequeños cambios
        y actualizaciones del sitio web.</p>

    <p>Prueba a actualizar la página dentro de unos instantes y seguramente
        podrás acceder a la página solicitada. Si el error persiste,
        te agradeceríamos que nos avisaras en la dirección errores@cupon.com</p>
{% endblock %}

{% block aside %}
{% endblock %}
