{% extends '::backend.html.twig' %}

{% block id 'tienda' %}
{% block title %}Añadir una nueva tienda{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form(form, { 'action': path('backend_tienda_create') }) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_tienda') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
