{% extends '::backend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Añadir un nuevo usuario{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form(form, { 'action': path('backend_usuario_create') }) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_usuario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
