app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/cache/*
app/logs/*

vendor/*

web/bundles/*
web/css/*
web/js/*

# ignorar archivos de Eclipse, Zend Studio, Netbeans, PHPStorm y TextMate2
.buildpath
.project
.settings
nbproject
.idea
.tm_properties
