{% extends 'frontend.html.twig' %}

{% block id 'portada' %}
{% block title 'Cupon, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%' %}

{% block anuncio %}
    {% if not is_granted('ROLE_USUARIO') %}
        <div id="anuncio">
            {% trans with { '%portada%': path('portada'), '%registro%': path('usuario_registro') } %}
                <a href="%portada%">CUPON</a> publica cada día una oferta increíble en tu ciudad con descuentos de hasta el 90%% <a class="boton" href="%registro%">Regístrate ya</a>
            {% endtrans %}
        </div>
    {% endif %}
{% endblock %}

{% block article %}
    {{ include('oferta/_oferta_completa.html.twig') }}
{% endblock %}

{% block aside %}
    {{ parent() }}

    {# bloque vacío para eliminar su contenido y no mostrarlo en la portada #}
    {% block registrate %}{% endblock %}

    {{ include('comun/_sobre_nosotros.html.twig') }}
{% endblock %}
