# These parameters can be imported into other config files
# by enclosing the key with % (like %database_user%)
parameters:
    # Si NO usas SQLite, comenta estas líneas
    database_driver: pdo_sqlite
    database_path:   "%kernel.root_dir%/data/datos.sqlite"

    # Si usas MySQL, descomenta estas líneas
    # database_driver:   pdo_mysql
    # database_host:     localhost
    # database_port:     null
    # database_name:     cupon
    # database_user:     cupon
    # database_password: cupon

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    # Si usas Gmail como mailer
    # mailer_transport: gmail
    # mailer_host:      ~
    # mailer_user:      javier.eguiluz@gmail.com
    # mailer_password:  xxx

    locale:            es

    secret:            ThisTokenIsNotSoSecretChangeIt
