/*

 ,adPPYba,  88       88  8b,dPPYba,    ,adPPYba,   8b,dPPYba, 
a8"     ""  88       88  88P'    "8a  a8"     "8a  88P'   `"8a
8b          88       88  88       d8  8b       d8  88       88
"8a,   ,aa  "8a,   ,a88  88b,   ,a8"  "8a,   ,a8"  88       88
 `"Ybbd8"'   `"YbbdP'Y8  88`YbbdP"'    `"YbbdP"'   88       88
                         88                                   
                         88                                   

-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-

 ____    _    ____ _  _______ _   _ ____  
| __ )  / \  / ___| |/ / ____| \ | |  _ \ 
|  _ \ / _ \| |   | ' /|  _| |  \| | | | |
| |_) / ___ \ |___| . \| |___| |\  | |_| |
|____/_/   \_\____|_|\_\_____|_| \_|____/

-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-


  Objetivo de esta hoja de estilos
  --------------------------------------------------------------
   Incluye solamente los estilos particulares del backend o zona
   de administración del sitio web, lo que permite aplicarle
   estilos específicos diferentes a la parte pública y también a
   la zona de administración usada por las tiendas.

  Se aplica a
  --------------------------------------------------------------
   backend

*/


/* ===========================================================================
   Estructura
   ======================================================================== */
body article {
    padding: 0 20px;
    width: 920px;
}

/* ===========================================================================
   Cabecera y menú de navegación
   ======================================================================== */
nav ul {
    left: 230px;
}
nav ul li {
    padding-left: 2.5em;
}

#oferta  nav li:nth-child(1) a,
#tienda  nav li:nth-child(2) a,
#usuario nav li:nth-child(3) a,
#ciudad  nav li:nth-child(4) a {
    border: none !important;
    color: #FF3385 !important;
    font-size: 21px !important;
    font-weight: normal;
    text-decoration: none;
}

/* ===========================================================================
   Tablas
   ======================================================================== */

table.estrecha {
    width: auto;
}
table thead th {
    color: #C06;
    font-weight: bold;
}
table th, table td {
    padding: 10px 5px;
}
table tr, table td, table th {
    border-width: 1px 0;
}

table td ul {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
}
table td ul li {
    display: inline;
    padding-right: 1em;
}

table.records_list {
    margin-bottom: 0;
}

table.records_list span.si {
    font-size: 18px;
}
table.records_list span.no {
    font-size: 18px;
}

table.record_properties tbody th {
    text-align: left;
    vertical-align: top;
}
table.record_properties img {
    max-width: 250px;
}

/* ===========================================================================
   Listas de acciones
   
   Una lista de acciones es aquella <ul> que:
     1. va justo detrás de la tabla con class = .records_list y que no tenga
        un class = .paginador
     2. va justo detrás de una lista con class = .paginador que a su vez vaya
        detrás de una tabla con class = .records_list
     3. tiene un class = .record_actions, sin importar dónde se encuentre
   ======================================================================== */
table.records_list + ul:not(.paginador),
table.records_list + ul.paginador + ul,
ul.record_actions {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
}

table.records_list + ul:not(.paginador) li,
table.records_list + ul.paginador + ul li,
ul.record_actions li {
    float: left;
    line-height: 37px;
    margin-right: 2em;
}

ul.record_actions {
    font-size: 18px;
}

ul.record_actions form button {
    background: transparent;
    border: none;
    color: #2200C1;
    text-decoration: underline;
}
ul.record_actions form button:active {
    position: relative;
    top: 1px;
}
ul.record_actions form[action*="/delete"] button {
    color: #C06;
}

ul.record_actions li a[href*="/edit"] {
    font-weight: bold;
}

/* ===========================================================================
   Formularios
   ======================================================================== */
form > div + p {
    margin-top: 1em;
}