{% for tipo, mensajes in app.session.flashbag.all() %}
    {% for mensaje in mensajes %}
        <p class="flash flash-{{ tipo }}">
            {{ tipo == 'error' ? '<strong>Error</strong> ' : '' | raw }}
            {{ mensaje }}
        </p>
    {% endfor %}
{% endfor %}