{% extends 'frontend.html.twig' %}

{% block id 'pagina' %}
{% block title 'Contacto' %}

{% block article %}
    <h1>Contacto</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </p>

    {{ form(formulario) }}
{% endblock %}
